server:
  port: 8761

spring:
  application:
    name: service-discovery

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:

    prefer-ip-address: true # Direct link is safer

management:
  endpoints:
    web:
      exposure:
        include: "*"